---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}

        {%- if page.last_modified_date -%}
        <i class="fa-solid fa-calendar"></i> {{ page.date | date: date_format }}<br>
        <i class="fa-solid fa-scissors"></i> {{ page.last_modified_date | date: date_format }}
        {%- else -%}
        <i class="fa-solid fa-calendar"></i> {{ page.date | date: date_format }}
        {%- endif -%}
      </time>
      <br>
      {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name"> <i class="fa-solid fa-pencil"> </i> {{ page.author | escape }}
        </span>
      </span>
      {%- endif -%}
      <br>
      <i class="fa-solid fa-tags"></i>
      {%- if page.tags -%}
      <span itemprop="tags">
        {% capture topicslist %}
        {% for tag in page.tags %}
        <a href="{{site.baseurl}}/{{site.topic_page_dir}}/{{tag}}.html">{{tag}}</a>
        {% unless forloop.last %} {% endunless %}
        {% endfor %}
        {% endcapture %}
        {{topicslist}}

      </span>
      {%- endif -%}
    </p>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>